<div class="ui-overlay-container">
  <app-score [playerScore]="123" [opponentScore]="45" [phase]="'Talon Open'" [gamePointsPlayer]="7" [gamePointsOpponent]="5" [trickLeader]="'Player'" [opponentCardPoints]="25"></app-score>
  <app-card-values-box></app-card-values-box>
  <app-trick-area></app-trick-area>
  <app-player-hand></app-player-hand>
  <app-talon [cardsLeft]="7"></app-talon>
  <app-action-buttons [availableActions]="['Close Talon', 'Exchange Trump Jack', 'Declare Marriage', 'Claim 66']"></app-action-buttons>
  <div class="message-area">Game messages will appear here.</div>
</div>
